@model IEnumerable<Base_Notas.Models.alumnos>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:black">Student</h2>

<p style="color:black">
    <button type="button" value="Crear" class="btn btn-default">
        @Html.ActionLink("Create new", "Crear")
    </button>
</p>

<table style="color:black ; background-color:lightgrey" class="table table-hover table-bordered">
    <tr>
        <th>
           Name
        </th>
        <th>
           Last Name
        </th>
        <th>
            Age
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>

                <button type="button" value="Crear" class="btn btn-default">
                    @Html.ActionLink("Edit", "Editar", new { id = item.id })
                </button>
                <button type="button" value="Crear" class="btn btn-default">
                    @Html.ActionLink("Details", "Detalles", new { id = item.id })
                </button>
                <button type="button" value="Crear" class="btn btn-default">
                    @Html.ActionLink("Delete", "Eliminar", new { id = item.id })
                </button>

            </td>
        </tr>
    }

</table>
